body {
    background-image: url(gha.jpg);
    background-size: cover;
    text-align: center;
}

.container {
    color: lightblue;
}

.description {
    color: gold;
}

.container {
    color: gold;
    background-color: grey;
    padding: 20px;
}

  .akan{
     display: flex;
     justify-content: center;
 }
 .description{
     border: 3px solid beige;
     background-color: white;
     margin-left: auto;
     margin-right: auto;
 }

    
